@model List<Post>

@{
    ViewData["Title"] = "Мой блог";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/Style.css" />
</head>
<body>
    <div class="main-container">
        <div class="feed">
            @if (Model != null && Model.Any())
            {
                foreach (var post in Model)
                {
                    <div class="post">
                        <div class="post-header">
                            <div class="post-author">
                                <div class="author-avatar">
                                    {
                                    <img class="author-avatar" src="@post.Autor.ImagePath" />
                                    }
                                </div>
                                <a href="#" class="author-name">@post.Autor.Name</a>
                            </div>
                            <div class="post-menu">⋯</div>
                        </div>

                        <div class="post-image-container">
                            @if (!string.IsNullOrEmpty(post.ImagePath))
                            {
                                <img class="post-image" src="@post.ImagePath" alt="Пост" />
                            }
                            else
                            {
                                <div class="image-placeholder">
                                    📷
                                </div>
                            }
                        </div>

                        <div class="post-actions">
                            @*<a class="action-btn" asp-controller="Home" asp-action="IncrementLikes" asp-route-id="@post.Id" role="button">❤️</a>
 *@                            
                            <button class="action-btn" id="like-button-@post.Id" onclick="likePost('@post.Id')" data-id="@post.Id">❤️</button>
                            <button class="action-btn">💬</button>
                        </div>

                        <div class="post-likes" id="like-count-@post.Id">
                            ❤️ @post.Likes отметок "Нравится"
                        </div>

                        <div class="post-description">
                            <span class="description-author">@post.Autor.Name</span>
                            <span class="description-text">
                                @(post.Description.Length > 200 ? post.Description.Substring(0, 200) + "..." : post.Description)
                            </span>
                        </div>

                        <div class="post-comments">
                            Посмотреть все @Random.Shared.Next(1, 50) комментариев
                        </div>

                        <div class="post-time">
                            @post.Created;
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="empty-feed">
                    <h3>📷 Нет постов</h3>
                    <p>Будьте первым, кто добавит пост в ленту!</p>
                </div>
            }
        </div>
    </div>
    <script>
          async function likePost(postId) {
              const btn = document.getElementById(`like-button-${postId}`);
              btn.disabled = true;
              console.log("1111");
              const response = await fetch('@Url.Action("IncrementLikes", "Home")', {
                method: "POST",
                headers: {
                  "Content-Type": "application/x-www-form-urlencoded",
                },
                body: new URLSearchParams({ id: postId }),
              });

              const data = await response.json();
              document.getElementById(`like-count-${postId}`).innerText =  `❤️ ${data.newLikes} отметок "Нравится"`;
              btn.disabled = false;
        }
    </script>
</body>
</html>